@model IEnumerable<Entities.Entities.Product>

@{
    ViewData["Title"] = "Produtos do Carrinho";
}

<h1>@ViewData["Title"]</h1>

<hr />
<a class="nav-link text-black" asp-area="" asp-controller="UserBuy" asp-action="FinishBuy">Finalizar Compra</a>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Imagem
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.QtyBuy)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrWhiteSpace(item.Url))
                    {
                        <img width="80" height="80" src="@item.Url" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.QtyBuy)
                </td>
                <td>
                    @Html.ActionLink("Remover", "RemoveProductCart", new { id = item.IdProductCart })
                </td>
            </tr>
        }
    </tbody>
</table>
