@model Entities.Entities.UserPurchase

@{
    ViewData["Title"] = "MyShopping";
}


<div>
    <h4>Minhas Compras</h4>
    @if (Model.ListProducts.Any())
    {
        <hr />
        <a class="nav-link text-black" asp-area="" asp-controller="UserBuy" asp-action="PrintDoc">Imprimir Boleto</a>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AddressComplet)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AddressComplet)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.QtyProducts)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.QtyProducts)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TotalValue)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TotalValue)
            </dd>          
        </dl>

        <h4>Produtos Comprados</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Quantidade</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model.ListProducts)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Url)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Value)</td>
                        <td>@Html.DisplayFor(modelItem => item.QtyBuy)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3>Não existe Compras</h3>
    }
</div>
